.Rproj.user
.Rhistory
.RData
TODO
*.Rproj
*~
*.RData
Frac_Correlations
Frac_Results
Solr_Correlations
Solr_Results
Solr_Cubist_Deseasonalized_Results
Clusters
Data
Data-Fill
Data-Smoothed
LowWind
Merged
Normalized
Quadrant_1
Quadrant_2
Quadrant_3
Quadrant_4
Quadrant_LW_Tests
Smoothed_2_Bad
Stations
wind_Counts

/leeward_binned_counts.csv
/leeward_binned_counts.ods
/leeward_counts.csv
/leeward_counts.ods
/honolulu_airport_binned_counts.csv
/honolulu_airport_binned_counts.ods
/honolulu_airport_counts.csv
/honolulu_airport_counts.ods
/marine_corp_counts.ods
/marine_corp_binned_counts.csv
/marine_corp_binned_counts.ods
/marine_corp_counts.csv
/scbh1_counts.csv
/scbh1_binned_counts.csv
/windward_counts.csv
/windward_counts.ods
/windward_binned_counts.csv
/windward_binned_counts.ods
